%h3
  Viewing
  =h current_object

%div[current_object]
  %p.uid
    %strong UID
    = h current_object.uid
  %p.gid
    %strong GID
    = h current_object.gid

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy domain?', :method => :delete
|
= link_to 'Back', objects_path
